// COLORS
$primaryColor: hsl(176, 50%, 47%);
$primaryColorDark: hsl(176, 72%, 28%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 48%);

// FONT
$fontSize: 16px;

// SCREEN SIZES
$desktopWidth: 1400px;
$mobileWidth: 375px;
$desktopHeight: 400px;
$mobileHeight: 600px;