@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap'); 

// COLORS
$primaryColor: #A5C882;
$primaryColorDark: #78925e;
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 48%);
$dullwhite: #ededed;

// FONT
$fontSize: 16px;
$font: 'Commissioner', sans-serif;

// SCREEN SIZES
$desktopWidth: 1440px;
$mobileWidth: 375px;
$desktopHeight: 400px;
$mobileHeight: 300px;