@import "./variables";

.product {
    background-color: white;
    width: 50%;
    height: 250px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo-svg {
        position: relative;
        bottom: 28px;
    }

    .product-name {
        font-family: $font;
        font-size: 26px;
        margin-bottom: 15px;
    }

    .product-tagline {
        font-family: $font;
        font-size: $fontSize;
        font-weight: 400;
        color: $darkGray;
        margin-bottom: 40px;
    }

    .product-buttons {
        width: 90%;
        display: flex;
        height: 56px;
        justify-content: space-between;
        font-family: $font;

        .back-project-button {
            height: 100%;
            width: 30%;
            outline: none;
            border: none;
            border-radius: 40px;
            background-color: $primaryColor;
            color: white;
            font-weight: 500;
        }

        .back-project-button:hover {
            background-color: $primaryColorDark;
            scale: 1.03;
        }

        .bookmark-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;
            width: 28%;
            outline: none;
            border: none;
            border-radius: 40px;
            background-color: rgb(228, 228, 228);
            color: rgb(109, 109, 109);

            .bookmark-svg {
                margin-right: 15px;
            }

            .bookmark-text {
                font-size: 14px;
                font-weight: 700;
            }
        }

        .bookmark-button:hover {
            scale: 1.03;
        }
    }
}

@media (max-width: $mobileWidth){
    .product{
        width: 85%;

        .product-name{
            width: 70%;
            font-size: 18px;
            text-align: center;
        }

        .product-tagline{
            width: 90%;
            font-size: 14px;
            text-align: center;
            margin-bottom: 20px;
        }

        .product-buttons{

            .back-project-button{
                width: 75%;
                font-weight: 600;
            }

            .bookmark-button{
                width: 56px;
                height: 56px;

                .bookmark-svg{
                    margin-right: 0;
                }

                .bookmark-text{
                    display: none;
                }
            }
        }
    }
}
