@import "./variables";

.product {
    background-color: $dullwhite;
    width: 50%;
    height: 250px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo-svg {
        position: relative;
        bottom: 28px;
    }

    .product-name {
        font-family: $font;
        font-size: 26px;
        margin-bottom: 15px;
    }

    .product-tagline {
        font-family: $font;
        font-size: $fontSize;
        font-weight: 400;
        color: rgb(58, 58, 58);
        margin-bottom: 40px;
    }

    .product-buttons {
        width: 90%;
        display: flex;
        height: 56px;
        justify-content: space-between;
        font-family: $font;

        .back-project-button {
            height: 100%;
            width: 30%;
            outline: none;
            border: none;
            border-radius: 40px;
            background-color: $primaryColor;
            color: rgb(56, 56, 56);
            font-weight: 500;
        }

        .back-project-button:hover {
            background-color: $primaryColorDark;
            color: white;
            cursor: pointer;
            scale: 1.03;
        }

        .bookmark-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;
            width: 28%;
            outline: none;
            border: none;
            border-radius: 40px;
            background-color: rgb(208, 208, 208);
            color: rgb(79, 79, 79);

            .bookmark-svg {
                margin-right: 15px;
            }

            .bookmark-text {
                font-size: 14px;
                font-weight: 700;
            }
        }

        .bookmark-button-active {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;
            width: 28%;
            outline: none;
            border: none;
            border-radius: 40px;
            background-color: $primaryColor;
            color: rgb(255, 255, 255);

            .bookmark-svg {
                margin-right: 15px;
            }

            .bookmark-text {
                font-size: 14px;
                font-weight: 700;
            }
        }

        .bookmark-button:hover {
            cursor: pointer;
            scale: 1.03;
        }
    }

    .backing-modal {
        position: absolute;
        display: flex;
        justify-content: center;

        .modal-main{
            background-color: white;
            width: 70%;
            border-radius: 8px;
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: $font;
        
            .inner-container{
                width: 90%;
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;
                
                .title-and-close-button{
                    display: flex;
                    justify-content: space-between;

                    .section-title{
                        font-size: 20px;
                        font-weight: 700;
                        margin-top: 40px;
                        margin-bottom: 30px;
                    }

                    .close-modal-button{
                        background: none;
                        border: none;
                        outline: none;
                        position: relative;
                        bottom: 15px;
                        left: 5px;
                    }

                    .close-modal-button:hover{
                        cursor: pointer;
                        scale: 1.2;
                    }
                }
        
                .product-description{
                    font-size: 16px;
                    color: rgb(109, 109, 109);
                    line-height: 25px;
                    margin-bottom: 40px;
                }
        
                .backing-options{
                    width: 100%;
                    border: 1px solid rgb(206, 206, 206);
                    border-radius: 10px;
                    margin-bottom: 25px;
                    padding: 20px;
                    display: flex;
                    align-items: center;

                    .checkbox-container{
                        height: 100%;
                        margin-right: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        position: relative;

                        .custom-checkbox{
                            height: 20px;
                            width: 20px;
                            cursor: pointer;

                            input{
                                display: none;
                            }

                            input:checked + .checkbox-fill{
                                background-color: $primaryColor;
                            }

                            .checkbox-fill{
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                                border: 1px solid rgb(162, 162, 162);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
        
                    .content{
                        display: flex;
                        flex-direction: column;
        
                        .option-title{
                            font-size: 18px;
                            margin-bottom: 20px;
                        }

                        .option-description{
                            font-size: 14px;
                        }
        
                        .option-price{
                            font-size: 14px;
                            font-weight: 500;
                            color: $primaryColor;
                        }
                    }
        
                    .option-description{
                        font-size: 16px;
                        color: rgb(109, 109, 109);
                        line-height: 25px;
                        margin-bottom: 25px;
                    }
        
                    .remaining-and-select-button{
                        display: none;
                        flex-direction: row;
                        justify-content: space-between;
                        height: 45px;
        
                        .amount-remaining{
                            font-size: 28px;
                            font-weight: 700;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
        
                        .amount-remaining::after{
                            font-size: 14px;
                            font-weight: 500;
                            content: "left";
                            color: rgb(109, 109, 109);
                            margin-left: 8px;
                        }
        
                        .option-select{
                            height: 100%;
                            width: 25%;
                            outline: none;
                            border: none;
                            border-radius: 40px;
                            background-color: $primaryColor;
                            color: white;
                            font-size: 12px;
                            font-weight: 700;
                        }
                    }
                }
        
                .backing-options:last-child{
        
                    .title-and-price{
                        .option-title{
                            filter: contrast(0%);
                        }
        
                        .option-price{
                            filter: opacity(50%);
                        }
                    }
        
                    .option-description{
                        filter: opacity(50%);
                    }
        
                    .remaining-and-select-button{
                        display: none;

                        .amount-remaining{
                            filter: contrast(0%);
                        }
        
                        .option-select{
                            filter: grayscale(100%);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $mobileWidth){
    .product{
        width: 85%;

        .product-name{
            width: 70%;
            font-size: 18px;
            text-align: center;
        }

        .product-tagline{
            width: 90%;
            font-size: 14px;
            text-align: center;
            margin-bottom: 20px;
        }

        .product-buttons{

            .back-project-button{
                width: 75%;
                font-weight: 600;
            }

            .bookmark-button{
                width: 56px;
                height: 56px;

                .bookmark-svg{
                    margin-right: 0;
                }

                .bookmark-text{
                    display: none;
                }
            }
        }
    }
}
